swagger: "2.0"
info:
  title: TatTester API
  version: "1.0.0"

# API Gateway expects Swagger (OpenAPI 2.0) extensions for Firebase Auth.
host: tattester-api.endpoints.PROJECT_ID.cloud.goog
schemes:
  - https
basePath: /

# Default backend for operations (can be overridden per-operation).
x-google-backend:
  address: https://tattester-api-HASH-uc.a.run.app

x-google-endpoints:
  - name: tattester-api.endpoints.PROJECT_ID.cloud.goog
    allowCors: true

securityDefinitions:
  api_key:
    type: apiKey
    name: x-api-key
    in: header
  firebase:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: https://securetoken.google.com/PROJECT_ID
    x-google-jwks_uri: https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com
    x-google-audiences: PROJECT_ID

# Require both: API key (for consumer project association) + Firebase JWT.
security:
  - api_key: []
    firebase: []

paths:
  /api/health:
    get:
      summary: Health check
      operationId: healthCheck
      # Keep health reachable with just an API key.
      security:
        - api_key: []
      responses:
        200:
          description: OK

  /api/v1/generate:
    post:
      summary: Generate tattoo design
      operationId: generateTattoo
      responses:
        200:
          description: Generated

  /api/v1/council/enhance:
    post:
      summary: Enhance prompt via AI Council
      operationId: councilEnhance
      responses:
        200:
          description: Enhanced

  /api/v1/match/semantic:
    post:
      summary: Semantic artist matching
      operationId: matchSemantic
      responses:
        200:
          description: Matches

  /api/v1/match/update:
    post:
      summary: Update match preferences
      operationId: matchUpdate
      responses:
        200:
          description: Updated

  /api/v1/embeddings/generate:
    post:
      summary: Generate embeddings
      operationId: embeddingsGenerate
      responses:
        200:
          description: Generated

  /api/v1/ar/visualize:
    post:
      summary: AR visualization
      operationId: arVisualize
      responses:
        200:
          description: Visualized

  /api/v1/layers/decompose:
    post:
      summary: Layer decomposition
      operationId: layersDecompose
      responses:
        200:
          description: Decomposed

  /api/v1/stencil/export:
    post:
      summary: Stencil export
      operationId: stencilExport
      responses:
        200:
          description: Exported

  /api/v1/upload-layer:
    post:
      summary: Upload layer image
      operationId: uploadLayer
      responses:
        200:
          description: Uploaded

  /api/v1/storage/upload:
    post:
      summary: Upload to storage
      operationId: storageUpload
      responses:
        200:
          description: Uploaded

  /api/v1/storage/get-signed-url:
    post:
      summary: Get signed URL
      operationId: storageGetSignedUrl
      responses:
        200:
          description: Signed URL

